In [5]:
import pandas as pd
x_test=pd.read_csv("/media/adesh/Volume D/DataSets-master/loan_prediction-1/X_test.csv")
y_test=pd.read_csv("/media/adesh/Volume D/DataSets-master/loan_prediction-1/Y_test.csv")
x_train=pd.read_csv("/media/adesh/Volume D/DataSets-master/loan_prediction-1/X_train.csv")
y_train=pd.read_csv("/media/adesh/Volume D/DataSets-master/loan_prediction-1/Y_train.csv")

In [9]:
x_train

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001032,Male,No,0,Graduate,No,4950,0.0,125,360,1,Urban
1,LP001824,Male,Yes,1,Graduate,No,2882,1843.0,123,480,1,Semiurban
2,LP002928,Male,Yes,0,Graduate,No,3000,3416.0,56,180,1,Semiurban
3,LP001814,Male,Yes,2,Graduate,No,9703,0.0,112,360,1,Urban
4,LP002244,Male,Yes,0,Graduate,No,2333,2417.0,136,360,1,Urban
...,...,...,...,...,...,...,...,...,...,...,...,...
379,LP002585,Male,Yes,0,Graduate,No,3597,2157.0,119,360,0,Rural
380,LP001841,Male,No,0,Not Graduate,Yes,2583,2167.0,104,360,1,Rural
381,LP002820,Male,Yes,0,Graduate,No,5923,2054.0,211,360,1,Rural
382,LP001744,Male,No,0,Graduate,No,2971,2791.0,144,360,1,Semiurban
383,LP001552,Male,Yes,0,Graduate,No,4583,5625.0,255,360,1,Semiurban

In [24]:
x_train["Education"].unique()

array(['Graduate', 'Not Graduate'], dtype=object)

In [65]:
x_train_cat=x_train[['Gender', 'Married', 'Education',
       'Self_Employed', 'Property_Area','Dependents']]

In [25]:
x_train.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area'],
      dtype='object')

In [66]:
x_train_cat

     Gender  Married  Education  Self_Employed  Property_Area Dependents
0         1        0          0              0              2          0
1         1        1          0              0              1          1
2         1        1          0              0              1          0
3         1        1          0              0              2          2
4         1        1          0              0              2          0
..      ...      ...        ...            ...            ...        ...
379       1        1          0              0              0          0
380       1        0          1              1              0          0
381       1        1          0              0              0          0
382       1        0          0              0              1          0
383       1        1          0              0              1          0

[384 rows x 6 columns]

In [29]:
from sklearn.preprocessing import LabelEncoder

In [67]:
lb=LabelEncoder()
for i in x_train_cat.columns:
    x_train[i]=lb.fit_transform(x_train[i])

In [72]:
x_train_w_id=x_train.drop("Loan_ID",axis=1)

In [45]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
x_train[["ApplicantIncome" ,"CoapplicantIncome" ,"LoanAmount","Loan_Amount_Term"]]=ss.fit_transform(x_train[["ApplicantIncome" ,"CoapplicantIncome" ,"LoanAmount","Loan_Amount_Term"]])

In [48]:
x_train_w_id

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1,0,0,0,0,-0.037697,-0.599846,-0.219389,0.272293,1,2
1,1,1,1,0,0,-0.428032,0.103374,-0.246028,2.097087,1,1
2,1,1,0,0,0,-0.405760,0.703571,-1.138429,-2.464897,1,1
3,1,1,2,0,0,0.859432,-0.599846,-0.392541,0.272293,1,2
4,1,1,0,0,0,-0.531656,0.322390,-0.072875,0.272293,1,2
...,...,...,...,...,...,...,...,...,...,...,...
379,1,1,0,0,0,-0.293076,0.223184,-0.299305,0.272293,0,0
380,1,0,0,1,1,-0.484468,0.227000,-0.499097,0.272293,1,0
381,1,1,0,0,0,0.145957,0.183883,0.926082,0.272293,1,0
382,1,0,0,0,0,-0.411233,0.465095,0.033680,0.272293,1,1
383,1,1,0,0,0,-0.106968,1.546442,1.512136,0.272293,1,1

In [74]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
score=cross_val_score(lr,x_train_w_id,y_train,scoring="neg_mean_squared_error",cv=10)

In [75]:
y_train=lb.fit_transform(y_train)

In [77]:
import numpy as np
rmse=np.sqrt(-score)

In [80]:
from sklearn.tree import DecisionTreeClassifier

In [81]:
dtc=DecisionTreeClassifier()

In [82]:
score_1=cross_val_score(dtc,x_train_w_id,y_train,scoring="neg_mean_squared_error",cv=10)

In [84]:
rmse=np.sqrt(-score_1)

In [85]:
rmse

array([0.54772256, 0.531085  , 0.48038446, 0.62828086, 0.45883147,
       0.51298918, 0.39735971, 0.51298918, 0.53802759, 0.53802759])

In [86]:
from sklearn.ensemble import RandomForestClassifier

In [87]:
rtc=RandomForestClassifier()
score_2=cross_val_score(rtc,x_train_w_id,y_train,scoring="neg_mean_squared_error",cv=10)
rmse_2=np.sqrt(-score_2)

/home/adesh/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/home/adesh/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/home/adesh/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/home/adesh/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/home/adesh/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/home/adesh/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/home/adesh/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/home/adesh/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/home/adesh/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/home/adesh/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [88]:
rmse_2

array([0.4472136 , 0.45291081, 0.32025631, 0.51298918, 0.45883147,
       0.45883147, 0.45883147, 0.48666426, 0.53802759, 0.48666426])